.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
  
.urbanist{
    font-family: "Urbanist", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.comfortaa {
  font-family: "Comfortaa", sans-serif;
  font-style: normal;
}
.maven-pro{
  font-family: "Maven Pro", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


/*CSS*/
body{
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

nav {
    padding: 20px 20px;
}
.navigation-bar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-image: url(./images/home\ page/header.jpeg);
    background-color: rgba(0, 0, 0, 0.755);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px; 
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
}

.navdiv {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    text-decoration: none;
}

.bgul{
    background-color: rgba(0, 0, 0, 0.594);
    padding:15px 5px;
}


.home-link{
    color: rgb(255, 255, 255);
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    padding:15px 10px;
    font-family: urbanist;
}
.home-link:hover{
    color: rgb(173, 173, 173);
    padding:15px 10px;
    background-color:transparent;
    font-size: 1.1em;
    transition-duration: 0.2s;
}
.home-link:active{
    color:white;
    font-size: 1em;
    padding: 5px 8px;
    transition-duration: 0.2s;
}

/*Drop down button and content*/

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #00000091;
    min-width: 150px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 15px;
}
.dropdown:hover .dropdown-content {
    display: block;
  }
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dropdown-content a:hover {
    background-color: #f1f1f1b8;
    color: black;
}
.dropdown {
    position: relative;
    display: inline-block;
}

/*login signup btn*/
.btn{
    margin: 40px;
    font-family: "Urbanist";
}

.btn a{
    padding: 5px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    border-radius: 15px;
    width: 80px;
    height: 25px;
    border:2px solid rgb(255, 255, 255);
    font-weight: 600;
    font-size: medium;
    transition: 0.1s;
}
.btn a:hover{
    background-color: white;
    color: black;
    font-size: 1.1em;
}
.btn a:active{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 1em;
}


/*main*/




/*footer*/

footer {
    background-color:rgba(18, 18, 18, 0.915);
    color: #fff;
    padding: 10px;
    margin-top: 15px;
    text-align: center;
    margin-bottom: -9px;
}

footer h3 {
    margin-top: 0;
    font-size: 1.2em;
}

footer address {
    margin: 0;
    font-style: normal;
    line-height: 1.5;
}

footer address a {
    color: #fff;
    text-decoration: none;
}

footer address a:hover {
    text-decoration: underline;
}
footer p a{
    text-decoration: none;
    color: white;
    border-radius: 3px;
    padding: 3px;
}
footer p a:hover{
    color: rgb(255, 255, 255);
    background-color: #666666;
}






/* Media query for tablets */
@media screen and (max-width: 2024px){
    .product-box{
        margin:0px 10px;
    }
}
@media screen and (max-width: 1024px) {
    .navdiv {
        margin-right: 10px;
    }
    .btn {
        padding: 0px;
    }
    .product-box{
        margin:0px 10px;
    }
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .navdiv {
        margin-right: 0px;

    }
    .bgul {
        margin-left: 0;
        padding-left: 0;
    }
    .home-link {
        margin-right: 10px;
        font-size: 16px;
    }
    .btn {
        padding-left: 0px;
    }
    .product-box{
        margin:0px 10px;
    }
}
@media screen and (max-width: 670px){
    .btn{
        display: none;
    }
}
